apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: discord-bot-hpa
  labels:
    app: discord-rag-bot
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: discord-rag-bot
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 40
